[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EpistemicGameTheory"]
	path = EpistemicGameTheory
	url = https://github.com/cran/EpistemicGameTheory
	shallow = true
	registered = true
